:root{
    --primary:#058359;
    --secondary:tomato;/*(, #6495ED)*/
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}
/* html, body ,*{
    overflow-x: hidden !important;
} */
h1{
    font-family: sans-serif;
    font-weight: bold;
}
.landing{
    background-color: black;
    height: 100vh;
    padding-top: 130px;
}
.landing .col-md-12{
    border-right: 5px solid white;
}
.landingbtn{
    background-color: white !important;
    color:black !important;
    margin-top: 20px;
}