.auth{
    background-color:blanchedalmond;
}


.password-input{
    position: relative;
    
}
.password-icon {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
   
}
.login-btn{
    border-radius: 4px;
}
.register-btn{
    border:  1px solid rgb(45, 45, 42);
    border-radius: 3px;
}
.password-icon :hover{
    cursor: pointer;
}
.forgot-password-btn {
    /* color:white; */
    border: none;
    padding: 8px 6px;
    /* border-radius: 1px; */
    margin-right: 7px;
  }
  
  .forgot-password-btn:hover {
    background-color: #ccc;
  }
  /* .container4{
    position: relative;
    flex: content;
    padding-left: 40px;
    border: 2px solid gray;
    align-items: center;
    height: 400px;
    width: 450px;
  } */

  .container4 {
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border: 1px solid gray;
    border-radius: 2px;
    align-items: center;
    height: 400px;
    width: 450px;
  }
  