/* height and widthstyling */
/* .h-screen{ */
    /* height: 100vh; */
/* background-color:white; */
/* background-image: url("/Images/bus.jpg"); */
/* } */
.h-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
.w-450{
    width: 450px;
    margin-top: 60px;
   /* padding-block: 2px; */
   color: #0f020ad8;
  
  
}
/* inputs color */
input,select{
height: 30px;
width: 100%;
border: 1px solid gray; 
padding-left:21px;
}
.ant-form-item{
    margin: 0 !important;
    height: 72px;
    padding: 0px;
}
/* cards */
.card{
    border: 1px solid gray;
    box-shadow: 0 0 1px rgb(162, 161, 161);
    border-radius: 0 !important;
}
/* text sizes */
.text-2xl{
    font-size: 30px;
}
.text-xl{
     font-size: 25px;
}
.text-lg{
    font-size: 20px;
}
.text-md{
    font-size: 18px;
}
.secondary-text {
    color: var(--secondary) !important;
  }
  .primary-text {
    color: var(--primary) !important;
  }
.underline{
    text-decoration: underline;
    cursor: pointer;
}
/* buttons styling */
.primary-btn{
    background-color: var(--primary) !important;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* for the clear btn */
.outlined{
    border: 2px solid var(--primary) !important;
    color: var(--primary) !important;
    background-color: white !important;
  }
.secondary-btn{
    background-color:var(--secondary) !important;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.disabled-btn{
    background-color:grey !important;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: not-allowed;
    border-radius: 0;

}
.button{
    border-radius: 0 !important;
    
}
/* Acnchor tag styling  in global css*/ 
a{
    text-decoration: none !important;
    color: var(--primary)!important;
}
i{
    cursor: pointer;
    font-size: 28px;
}
h1,p{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
#about1{
    color: white;
}

/* spinner styling */
.spinner-parent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.509);
    z-index: 10000;
}
.spinner-border{
    color: white !important;
    height: 80px ;
    width: 80px ;
}
table{

    border: 1px solid rgb(185, 185, 185) !important;
  }
  /* Footer styling */
.footer {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
  }